{{- range $namespace := .Values.namespaces }}

{{- $labels := merge (default dict $.Values.commonLabels) (default dict $namespace.extraLabels) }}
{{- $annotations := merge (default dict $.Values.commonAnnotations) (default dict $namespace.extraAnnotations) }}
{{- $annotations = merge $annotations (dict "helm.sh/resource-policy" "keep") }}

apiVersion: v1
kind: Namespace
metadata:
  name: {{ $namespace.name }}
  {{- if $labels }}
  labels:
{{ toYaml $labels | nindent 4 }}
  {{- end }}
  {{- if $annotations }}
  annotations:
{{ toYaml $annotations | nindent 4 }}
  {{- end }}
---
{{- end }}
