{{- if eq .Values.clusterRole "management" }}

apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: root-ca-cert-to-vault
  namespace: platform-system
spec:
  refreshInterval: 1h0m0s
  deletionPolicy: Delete
  secretStoreRefs:
    - name: vault-local
      kind: ClusterSecretStore
  selector:
    secret:
      name: root-ca-secret
  data:
    - conversionStrategy: None
      match:
        secretKey: tls.crt
        remoteRef:
          remoteKey: management/pki
          property: ca.crt

{{- end }}
