{{- range $cluster := .Values.clusterCredentials }}
{{- if not (regexMatch "^[a-z-]+$" $cluster.name) -}}
{{- fail (printf "clusterCredentials name must contain only lowercase letters and hyphens (a-z-): [%s]" $cluster.name) }}
{{- end -}}

apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "argocd-cluster-{{ $cluster.name }}"
  namespace: argocd
spec:
  refreshInterval: 20m
  secretStoreRef:
    name: vault-local
    kind: ClusterSecretStore
  target:
    name: "argocd-cluster-{{ $cluster.name }}"
    creationPolicy: Owner
    template:
      type: Opaque
      metadata:
        labels:
          argocd.argoproj.io/secret-type: cluster
      data:
        name: {{ $cluster.name }}
        server: "{{ `{{ .server }}` }}"
        config: |
          {
            "bearerToken": "{{ `{{ .token }}` }}",
            "tlsClientConfig": { "insecure": true }
          }
  data:
    - secretKey: server
      remoteRef:
        key: local/management/argocd/clusters/{{ $cluster.name }}
        property: server

    - secretKey: token
      remoteRef:
        key: local/management/argocd/clusters/{{ $cluster.name }}
        property: token

---
{{- end }}
