apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: keycloak-db
spec:
  refreshInterval: 20m
  secretStoreRef:
    name: vault-local
    kind: ClusterSecretStore
  target:
    name: keycloak-db
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: local/management/keycloak/database
        property: username
    - secretKey: password
      remoteRef:
        key: local/management/keycloak/database
        property: password
---
