apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: management-realm
  namespace: keycloak
spec:
  keycloakCRName: keycloak

  placeholders:
    azure.clientSecret:
      secret:
        name: keycloak-azure-oidc
        key: client-secret  
  realm:
    realm: management
    enabled: true
    roles:
      realm:
        - name: platform-admin
          composite: true
          composites:
            client:
              realm-management:
                - realm-admin
    groups:
      - name: platform-admins
        realmRoles:
          - platform-admin
