{{- if .Capabilities.APIVersions.Has "keycloak.m.crossplane.io/v1beta1/ProviderConfig" }}
apiVersion: keycloak.m.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: keycloak
  namespace: keycloak
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  credentialsSecretRef:
    name: crossplane-master-realm
    key: credentials
{{- end }}
