apiVersion: v1
kind: Pod
metadata:
  name: kc-debug
  namespace: keycloak
spec:
  restartPolicy: Never
  containers:
    - name: kc
      image: quay.io/keycloak/keycloak:26.5
      command: ["/bin/sh","-c","sleep infinity"]
      env:
        - name: BOOTSTRAP_USER
          value: admin
        - name: BOOTSTRAP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-bootstrap
              key: password
        - name: BREAKGLASS_USER
          valueFrom:
            secretKeyRef:
              name: keycloak-breakglass
              key: username
        - name: BREAKGLASS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-breakglass
              key: password
