---

apiVersion: oidc.keycloak.m.crossplane.io/v1alpha1
kind: IdentityProvider
metadata:
  name: azure
  namespace: keycloak
  annotations:
    argocd.argoproj.io/sync-wave: "25"
spec:
  forProvider:
    realm: management
    alias: azure
    displayName: Azure AD
    enabled: true
    trustEmail: true

    authorizationUrl: https://login.microsoftonline.com/c6ba6fd6-0fdd-4458-ad98-0c292dd79188/oauth2/v2.0/authorize
    tokenUrl: https://login.microsoftonline.com/c6ba6fd6-0fdd-4458-ad98-0c292dd79188/oauth2/v2.0/token
    userInfoUrl: https://graph.microsoft.com/oidc/userinfo
    jwksUrl: https://login.microsoftonline.com/c6ba6fd6-0fdd-4458-ad98-0c292dd79188/discovery/v2.0/keys
    issuer: https://login.microsoftonline.com/c6ba6fd6-0fdd-4458-ad98-0c292dd79188/v2.0
    logoutUrl: https://login.microsoftonline.com/c6ba6fd6-0fdd-4458-ad98-0c292dd79188/oauth2/v2.0/logout

    defaultScopes: "openid profile email"
    syncMode: IMPORT

    extraConfig:
      clientAuthMethod: "client_secret_post"
      sendIdTokenOnLogout: "true"
      sendClientIdOnLogout: "false"

    clientIdSecretRef:
      name: azure-oidc-management
      key: client-id
    clientSecretSecretRef:
      name: azure-oidc-management
      key: client-secret

  providerConfigRef:
    kind: ProviderConfig
    name: keycloak

---