apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: platform-system
  namespace: argocd
spec:
  description: Project for resources provisioned for each cluster.
  sourceRepos:
    - https://github.com/rezakaramad/micro-idp
  destinations:
  - namespace: '*'
    server: '*'
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'

---
