{{- if .Capabilities.APIVersions.Has "pkg.crossplane.io/v1/Function" }}

apiVersion: pkg.crossplane.io/v1
kind: Function
metadata:
  name: function-patch-and-transform
spec:
  package: xpkg.crossplane.io/crossplane-contrib/function-patch-and-transform:v0.8.2

{{- end }}
