{{- if .Capabilities.APIVersions.Has "keycloak.crossplane.io/v1beta1/ProviderConfig" }}
{{- if .Values.keycloakProvider.enabled }}
apiVersion: keycloak.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: keycloak
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  credentials:
    source: Secret
    secretRef:
      name: crossplane-admin
      namespace: keycloak
      key: credentials
{{- end }}
{{- end }}
