{{- if .Values.keycloakProvider.enabled }}
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: keycloak
  namespace: crossplane
spec:
  package: {{ .Values.keycloakProvider.providerPackage }}
{{- end }}
