# This is required in all clusters because we use self-signed certificates; otherwise, it would be optional.
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned
spec:
  selfSigned: {}
